# Binaries for the DPT tools, but not similarly-named directories.
**/policygen*
!**/policygen/

**/tfengine*
!**/tfengine/

**/tfimport*
!**/tfimport/

# Default engine cache dir.
.tfengine/

# Bundled templates.
*.tar.gz

# Terraform cache.
.terraform/

# Terraform state
*.tfstate
*.tfstate.*
